.dirstamp
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.sub
config.log
config.status
Makefile.in
depcomp
install-sh
ltmain.sh
missing
*.lo
*.la
Makefile
.libs/
.deps/
libtool
stamp-h1
